<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Agriculture Data Analysis</title>
  <link rel="stylesheet" href="/stylesheets/home.css" />
</head>

<body>
  <header>
    <div class="header-content">
      <h1>Welcome to Agriculture Data</h1>
    </div>
  </header>

  <!-- Shared Navigation Bar -->
  <nav class="main-nav">
    <div class="container nav-content">
      <ul>
        <li>
          <a href="#" id="homeLinkPage1" class="active">Home</a>
        </li>
        <li><a onclick="window.location.href = '/pages/powerBI.html';">PowerBI</a></li>
        <li><a onclick="window.location.href = '/pages/tableau.html';">Tableau</a></li>
        <li><a onclick="window.location.href = '/pages/python.html';">Python</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-show">
    <div class="hero-content">
      <h2>Agriculture Data Analysis</h2>
      <p>
        <b>Rice production of all states in tonns from 1966 to 2017</b>
      </p>
      <button id="enterButton" class="cta-button" onclick="window.location.href = '/pages/barChart.html';">Click
        here</button>
      <br />
      <br />
      <p>
        <b>Wheat production of all states in tonns from 1966 to 2017</b>
      </p>
      <button id="enterButton" class="cta-button" onclick="window.location.href = '/pages/pieChart.html';">Click
        here</button>
    </div>
    <br />
    <p>
      <b>Groundnut production of all states in tonns from 1966 to 2017</b>
    </p>
    <button id="enterButton" class="cta-button" onclick="window.location.href = '/pages/viewCircles.html';">Click
      here</button>
    <br />
    <br />
    <p>
      <b>Annual rainfall of all states in mm(millimeteres) from 1966 to 2017</b>
    </p>
    <button id="enterButton" class="cta-button" onclick="window.location.href = '/pages/areaChart.html';">Click
      here</button>


  </div>
  <footer>
    <div class="footer-content">
      <p>
        &copy; 2024 Our Website. All rights reserved.
      </p>
    </div>
  </footer>
</body>

</html>