#chart {
  width: 600px;
  height: 500px;
  margin: 20px auto;
  border: none;
}

.checkbox {
  cursor: pointer;
  margin-bottom: 5px;
}
.tooltip {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #aaa;
  padding: 5px;
  border-radius: 2px;
  pointer-events: none;
}
